#h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
  text-align: center;
  margin-top: 50px;
}

#add {
  position: absolute;
  right: 60px;
  z-index: 10;
}